body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #333;
    color: rgb(105, 105, 107);
    padding: 10px 20px;
    text-align: center;
}

.main-content {
    display: flex;
    height: calc(100% - 40px); /* Adjust based on navbar height */
}

#map {
    flex-grow: 1;
    background-color: #ddd;
    position: relative;
}

.sidebar {
    padding: 20px;
    width: 30%;
    background-color: #ffffff;
    position: relative; /* For the close button */
    overflow: scroll;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 200;
    overflow: visible;
    cursor: pointer;
}